* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

.BgImgSec1 {
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./Img-1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.577);
    background-blend-mode: overlay;
}

.Shop-Now:hover {
    background-color: transparent !important;
    color: white !important;
    transform: translate(0px, -10px);
    transition: 0.4sec ease-in-out;
}

.sec-2 {
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow-x: auto;
    flex-direction: row;
    gap: 20px;
    flex-wrap: nowrap;
}

.sec-3 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(244, 244, 244);
    padding-block: 100px;
}

.Shop-Now-2:hover {
    background-color: white !important;
    color: black !important;
    transform: translate(0px, -10px);
    transition: 0.4sec ease-in-out;
}

.Add:hover {
    background-color: black !important;
    color: white !important;
    transform: translate(0px, -10px);
    transition: 0.4sec ease-in-out;
}

.sec-4 {
    height: 700px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
}

.col-sec-4 {
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #272727;

}

.sec-4-shop-now:hover {
    background-color: white !important;
    color: black !important;
    transform: translate(0px, -10px);
    transition: 0.4sec ease-in-out;
}

.sec-5 {
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
}

.sec-6 {
    height: 800px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(244, 244, 244);
}

.sec-7 {
    height: 800px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sec-7-col{
    height: 700px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #272727;
}

.Btn-Color{
    background-color: rgb(168, 168, 168) !important;
    width: 15px;
    height: 15px;
    border: none;
    border-radius: 50%;
}
.TimeShow{
    background-color: white;
    color: black;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    margin-block: 20px;
}
.Add-20:hover{
    background-color: white !important;
    color: black !important;
    transform: translate(0px, -10px);
    transition: 0.4sec ease-in-out;
}

.icon{
    background-color: black;
    color: white;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    padding-top: 20px;
}

.sec-8{
    height:600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(244, 244, 244);
}

.sec-9{
    height:750px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
}

.sec-10{
    height: 1050px;;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(244, 244, 244);
}

.Last-Sec{
    height:600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
}